* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {position: fixed;
    width: 100%;
    z-index: 3;
}

#page1 {
    background: transparent;
    height: 100vh;
    width: 100%;
    }

#page2 {
    background: green;
    height: 100vh;
    width: 100%;
}

#page3 {
    background: cornflowerblue;
    height: 100vh;
    width: 100%;
}

#page4 {
    background: deeppink;
    height: 100vh;
    width: 100%;
}

#page5 {
    background: burlywood;
    height: 100vh;
    width: 100%;
}

#page6 {
    background: mediumpurple;
    height: 100vh;
    width: 100%;
}

#page7 {
    background: greenyellow;
    height: 100vh;
    width: 100%;
}

#page8 {
    background: grey;
    height: 100vh;
    width: 100%;
}

#page9 {
    background: lightpink;
    height: 100vh;
    width: 100%;
}

#page10 {
    background: transparent;
    height: 100vh;
    width: 100%;
    padding-top: 56px;
}


.carousel-inner img {
    margin: auto;
    width: 100%;
    margin-top: -22%;
}

form {
    padding: 25vh 35% 0 35% ;
}

.connectez {
    font-size: 25px;
}

#carouselExampleIndicators {
    padding-top: 5%;
    height: 60%;
    background-color: black;
    overflow: hidden;
}

.coeur {
    padding: 10px;
    text-align: center;
}

p {text-align: justify}

.btn {
    border-radius: 1.25rem;
}

.btn-primary {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
    width: 330px;
}


